@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('Screenshot\ \(435\).png');

    /* background-color: rgb(108, 221, 238); */
    background-size: cover;
    background-position: center;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.nav a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}


.nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    transform-origin: right;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.nav a:hover:after {
    transform: scaleX(1);
    transform-origin: left;
}


.nav .btnlogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.nav .btnlogin-popup:hover {
    background: #fff;
    background: rgb(0, 200, 255);
}

.wrapper {
    position: relative;
    width: 440px;
    height: 540px;
    /* background: transparent; */
    /* background: linear-gradient(rgba(255, 255, 255, 100)); */

    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(100px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .5s ease, height .2s ease;
    transform: scale(0);
}

.wrapper.active {
    height: 520px;

}

.wrapper.active-popup {
    transform: scale(1);
}



.wrapper .form-box {
    width: 100%;
    padding: 40px;
}




.form-box h2 {
    text-align: center;
    font-size: 2em;
    color: #162938;
}

.input-box {
    position: relative;

    width: 100%;
    height: 50px;
    /* border-bottom: 2px solid #162938; */
    margin: 30px 0;
}


.input-box label {
    position: absolute;
    display: flex;
    align-items: left;
    top: 15px;
    padding-bottom: 10px;
    transition: .3s;
    padding-left: 1px;
    color: #162938;
    font-weight: 700;
    font-size: 17px;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #162938;
    font-weight: 560;
    padding: 14px 0 3px;
}


.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.wrapper .form-box.login {
    /* display: none; */
}

.wrapper .form-box.login {
    transform: translateX(0);
    transition: transform .18s ease;
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translate(400px);
}

.wrapper.active .form-box.register {
    transform: translateX(0);
    transition: transform .18s ease;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2rem;
    color: #162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 6px;
    color: #162938;
    font: bold;
}

.remember-forgot a {
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 45%;
    height: 45px;
    background: linear-gradient(rgb(0, 200, 250), #006f8e 90%);
    border: none;
    outline: none;
    border-radius: 6px;
    color: white;
    font-size: 1em;
    font-weight: 500;
}

.login-register {
    display: none;
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}


.gifImg {
    width: 70px;
    height: 70px;
    display: flex;
    float: left;
}

.bannerText h2 {
    font-size: 20px;
}


.bannerWrapper {
    height: auto;
    width: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    /* background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9)); */
    /* border-radius: 2rem; */
    /* background: beige; */
    background: #2596be;
    z-index: 1;
    padding: 20px;
    margin-bottom: -90px;
    backdrop-filter: blur(2rem);
    display: flex;
}

.checkbox-container {
    display: flex;
    align-items: center;
    /* display: none; */
    text-align: center;
}

checkbox-label. {
    margin-left: 10px;
    font-size: 13px;
}

.checkbox-label a {
    color: #2596be;
}


.changeNumber {
    padding-top: 10px;
    color: rgb(0, 0, 0);
    display: flex;
    position: ;
}


#myParagraph {
    visibility: hidden;
}




.changeNumber .p {

    /* margin-top: 14px; */
    padding-right: 4px;
    font-size: 14px;
    width: 55%;
    height: 55px;

    /* background: #162938; */
}



.enterOtp input {
    width: 30px;
    height: 40px;
    border-radius: 4px;
    font-weight: 560;
    /* padding: 14px 3px; */

    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
    border: solid .1px;
    /* width: 50%; */
    margin: 3.3px;
    margin-top: 30px;
    padding: 0.5rem;
    /* border-radius: 1rem; */
}


.enterOtp input::placeholder {
    text-align: left !important;
    padding-left: 13px;
    font-size: medium;
    font-weight: 400;

}




.btn-login {
    width: 45%;
    height: 45px;
    background-color: #add8e6;
    border: none;
    outline: none;
    margin-left: 32px;
    border-radius: 6px;
    color: white;
    font-size: 1em;
    font-weight: 500;
}


.text-container {
    margin-top: 30px;
    position: relative;
}

.signInAs {
    display: flex;
    text-align: center;
    right: 70%;
    padding-left: 34%;
}

.text-container::before,
.text-container::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 50%;
    border-top: 1px solid black;
}

.text-container::before {
    right: 70%;
    margin-right: 10px;
}

.text-container::after {
    left: 70%;
    margin-left: 10px;
}

.footer {
    margin-top: 15px;
    display: flex;
    gap: 2px;
}

.vertical-line-container {
    padding-top: 15px;
    gap: 60px;
    position: relative;
    display: flex;
    font-size: 15px;
    font-size: medium;
    font-weight: 600;
}

.vertical-line-container::before {
    content: "";
    position: absolute;
    top: 40%;
    bottom: 5%;
    left: 50%;
    border-left: 1px solid black;
}

.vertical-line-container span {
    display: inline-block;
    padding: 0 20px;
}

.select-box {
    position: relative;

    margin: 7rem auto;
    width: 100%;
    height: 50px;
}

.select-box input {
    width: 100%;
    padding: 1rem .6rem;
    font-size: 1.1rem;

    border-left: .1rem solid;
    /* outline: none; */
}

input[type="tel"] {
    border-radius: 0 .5rem .5rem 0;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
    height: 50px;
}

.select-box input:focus {
    border: .1rem solid var(--primary);
    border-left: .1rem solid;

}

.selected-option {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
    border-radius: .5rem;
    overflow: hidden;
    border: solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected-option div {
    position: relative;
    outline: ;
    width: 20px;
    padding: 0 2.8rem 0 .5rem;
    text-align: center;
    cursor: pointer;
}

.selected-option div::after {
    position: absolute;
    content: "";
    right: .8rem;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);

    width: .8rem;
    height: .8rem;
    border-right: .12rem solid var(--primary);
    border-bottom: .12rem solid var(--primary);

    transition: .2s;
}

.selected-option div.active::after {
    transform: translateY(-50%) rotate(225deg);
}

.select-box .options {
    position: absolute;
    top: 4rem;

    width: 100%;
    /* background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2)); */
    background: #ccc;
    border-radius: .5rem;

    display: none;
}

.select-box .options.active {
    display: block;
}

.select-box .options::before {
    position: absolute;
    content: "";
    left: 1rem;
    top: -1.2rem;

    width: 0;
    height: 0;
    border: .6rem solid transparent;
    border-bottom-color: var(--primary);
}

input.search-box {
    background-color: var(--primary);
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
    border-radius: .5rem .5rem 0 0;
    padding: 1.4rem 1rem;
    border: none;
}

.select-box ol {
    list-style: none;
    max-height: 23rem;
    overflow: overlay;
}

.select-box ol::-webkit-scrollbar {
    width: 0.6rem;
}

.select-box ol::-webkit-scrollbar-thumb {
    width: 0.4rem;
    height: 3rem;
    background-color: #ccc;
    border-radius: .4rem;
}

.select-box ol li {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.select-box ol li.hide {
    display: none;
}

.select-box ol li:not(:last-child) {
    border-bottom: .1rem solid #eee;
}

.select-box ol li:hover {
    background-color: lightcyan;
}

.select-box ol li .country-name {
    margin-left: .4rem;
}



.base-timer {
    position: relative;

    margin-left: 55px;

    width: 60px;
    height: 50px;
}

.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
}

.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}

.base-timer__path-remaining.green {
    color: rgb(0, 200, 255);
}

.base-timer__path-remaining.orange {
    color: rgb(0, 200, 255);
}

.base-timer__path-remaining.red {
    color: rgb(0, 200, 255);
}

.base-timer__label {
    display: none;
    position: absolute;
    width: 110px;
    height: 110px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding-bottom: 50px;
    padding-right: 50px;
}


.span1 {
    display: flex;
    gap: 8px;

}

.icon1 {
    padding-top: 1px;
}

.icon2 {
    padding-top: 1px;
    padding-left: 5px;
}

.span2 {
    display: flex;
}

.light-blue {
    opacity: 0.6;
    cursor: not-allowed;
}

.anchor {
    text-decoration: none;
    color: #2596be;
}

.submitButton {
    cursor: default;
}